@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Regular.ttf);
}

main {
    margin-left: 139.5px;
    margin-right: 139.5px;
}

h2 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}

.container {
    display: inline-block;
    vertical-align: top;
    margin-right: 24px;
    margin-bottom: 24px;
}

.container_image {
    width: 371px;
    height: 254px;
}

.container_title {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    width: 323px;
    height: 52px;
    margin: 0;
}

.container_sec {
    margin-top: 32px;
}

.container_text {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 323px;
    height: 52px;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}